html, body {
    color: #EEE;
    margin: 0;
    padding: 0;
    width: 672px;
    height: 672px;
}
.tile.title {
  text-align: center;
  font-family: 'Vollkorn', sans-serif;
  position: absolute;
  display: block;
  left: 52px;
  bottom: 52px;
  font-size: 36px;
  line-height: 100%;

  background: rgba(0,0,0,0.5);
  padding: 10px 10px 6px 10px;
  border-radius: 6px;
}
.tile.code {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  display: block;
  right: 52px;
  bottom: 52px;
  font-size: 36px;
  line-height: 100%;

  background: rgba(0,0,0,0.5);
  padding: 6px 10px 10px 10px;
  border-radius: 6px;
}
.layers {

}
.layer {

}
.symbols {

}
.symbol {
  display: inline-block;
}
.symbol.base.border {
  background: rgba(255, 255, 255, 0.7);
  width: 180px;
  height: 180px;
  border-radius: 90px;
  margin-left: -90px;
  margin-top: -90px;
}
.symbol.base {
  background: url('/data/assets/symbol-input-texture.png');
  width: 160px;
  height: 160px;
  border-radius: 80px;
  margin-left: -80px;
  margin-top: -80px;
}
.symbol.icon {
  z-index: 200;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.symbol.icon.steal-action {
  margin-bottom: 15px
}
.layout {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.s0.icon {
  z-index: 300;
}
.s1.icon {
  z-index: 290;
}
.s2.icon {
  z-index: 280;
}
.s3.icon {
  z-index: 270;
}
.s4.icon {
  z-index: 260;
}
.s5.icon {
  z-index: 250;
}

.s0.base {
  z-index: 200;
}
.s1.base {
  z-index: 190;
}
.s2.base {
  z-index: 180;
}
.s3.base {
  z-index: 170;
}
.s4.base {
  z-index: 160;
}
.s5.base {
  z-index: 150;
}

.s0.base.border {
  z-index: 100;
}
.s1.base.border {
  z-index: 90;
}
.s2.base.border {
  z-index: 80;
}
.s3.base.border {
  z-index: 70;
}
.s4.base.border {
  z-index: 60;
}
.s5.base.border {
  z-index: 50;
}

.symbol.convert-to {
  width: 280px;
  height: 120px;
  margin-left: -140px;
  margin-top: -60px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url('/data/assets/convert-to.png');

  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.symbol.convert-to.base {
  display: none;
}

.symbol.convert-to.base.border {
  display: none;
  background: none;
}

.symbol.convert-to.icon {
  display: none;
  background-image: none;
}

.layer {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
