.layout.town-hall .symbol.s0 {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-left: -200px;
  margin-top: -150px;
}

.layout.town-hall .symbol.s0.base.border {
  width: 420px;
  height: 320px;
  margin-left: -210px;
  margin-top: -160px;
}
