.layout.transform-two .symbol.s0 {
  display: block;
  position: absolute;
  top: 44%;
  left: 24%;
}
.layout.transform-two .symbol.s0.base {
  display: block;
  position: absolute;
  top: 34%;
  left: 34%;
  margin-left: -190px;
  width: 380px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.layout.transform-two .symbol.s1 {
  display: block;
  position: absolute;
  top: 24%;
  left: 44%;
}
.layout.transform-two .symbol.s1.base {
  display: none;
}
.layout.transform-two .symbol.s2.convert-to {
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 50%;
  top: 50%;
}
.layout.transform-two .symbol.s3 {
  display: block;
  position: absolute;
  top: 71%;
  left: 71%;
}
