.layout.transform-two-for-two .symbol.s0 {
  display: block;
  position: absolute;
  top: 44%;
  left: 24%;
}
.layout.transform-two-for-two .symbol.s0.base.border {
  margin-left: -200px;
  width: 400px;
}
.layout.transform-two-for-two .symbol.s0.base {
  display: block;
  position: absolute;
  top: 34%;
  left: 34%;
  margin-left: -190px;
  width: 380px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.layout.transform-two-for-two .symbol.s1 {
  display: block;
  position: absolute;
  top: 24%;
  left: 44%;
}
.layout.transform-two-for-two .symbol.s1.base {
  display: none;
}

.layout.transform-two-for-two .symbol.s2.convert-to {
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 50%;
  top: 50%;
}

.layout.transform-two-for-two .symbol.s3 {
  display: block;
  position: absolute;
  top: 56%;
  left: 76%;
}
.layout.transform-two-for-two .symbol.s3.base.border {
  margin-left: -200px;
  width: 400px;
}
.layout.transform-two-for-two .symbol.s3.base {
  display: block;
  position: absolute;
  top: 66%;
  left: 66%;
  margin-left: -190px;
  width: 380px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.layout.transform-two-for-two .symbol.s4 {
  display: block;
  position: absolute;
  top: 76%;
  left: 56%;
}
.layout.transform-two-for-two .symbol.s4.base {
  display: none;
}
