.layout.transform-three .symbol.convert-to {
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 50%;
  top: 47%;
  background-color: transparent;
}
.layout.transform-three .symbol.s0 {
  display: block;
  position: absolute;
  top: 25%;
  left: 33%;
}
.layout.transform-three .symbol.s0.base {
  display: none;
}
.layout.transform-three .symbol.s1 {
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
}
.layout.transform-three .symbol.s1.base.border {
  width: 420px;
  margin-left: -210px;
}
.layout.transform-three .symbol.s1.base {
  width: 400px;
  margin-left: -200px;
}
.layout.transform-three .symbol.s2 {
  display: block;
  position: absolute;
  top: 25%;
  left: 67%;
}
.layout.transform-three .symbol.s2.base {
  display: none;
}
.layout.transform-three .symbol.s4 {
  display: block;
  position: absolute;
  left: 50%;
  top: 75%;
}
.layout.transform-three .symbol.s4.base {
  background: url('/data/assets/symbol-texture.png');
}
.layout.transform-three .symbol.s4.border {
  background: rgba(0, 0, 0, 0.5)
}
