.layout.transform-one .symbol.s0 {
  display: block;
  position: absolute;
  top: 85px;
  left: 185px;
}
.layout.transform-one .symbol.convert-to {
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 50%;
  top: 50%;
}
.layout.transform-one .symbol.s2 {
  display: block;
  position: absolute;
  bottom: 85px;
  left: 455px;
}
