html, body {
    color: #EEE;
    margin: 0;
    padding: 0;
    width: 640px;
    height: 640px;
}
.tile.title {
  text-align: center;
  font-family: 'Vollkorn', sans-serif;
  position: absolute;
  display: block;
  left: 20px;
  bottom: 20px;
  font-size: 36px;
  line-height: 100%;
}
.tile.code {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  position: absolute;
  display: block;
  right: 20px;
  bottom: 20px;
  font-size: 36px;
  background: rgba(0,0,0,0.8);
  padding: 6px 10px 10px 10px;
  line-height: 100%;
  opacity: 0.4;
  border-radius: 6px;
}
.layers {

}
.layer {

}
.symbols {

}
.symbol {
  display: inline-block;
}
.symbol.base {
  background: #b3a77d;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: -100px;
  margin-top: -100px;
}
.symbol.icon {
  z-index: 200;
  width: 140px;
  height: 140px;
  margin-left: -70px;
  margin-top: -70px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.symbol.icon.steal-action {
  margin-bottom: 25px
}
.layout {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 640px;
  width: 640px;
}
.s0.base {
  z-index: 100;
}
.s1.base {
  z-index: 90;
}
.s2.base {
  z-index: 80;
}
.s3.base {
  z-index: 70;
}
.s4.base {
  z-index: 60;
}
.s5.base {
  z-index: 50;
}
.symbol.convert-to {
  width: 220px;
  height: 100px;
  margin-left: -110px;
  margin-top: -50px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url('/data/assets/transform-arrow-short.png');
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.layer {
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
}
