.layout.transform-three .symbol.convert-to {
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 50%;
  top: 48%;
  background-color: transparent;
}
.layout.transform-three .symbol.s0 {
  display: block;
  position: absolute;
  top: 25%;
  left: 25%;
}
.layout.transform-three .symbol.s0.base {
  display: none;
}
.layout.transform-three .symbol.s1 {
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
}
.layout.transform-three .symbol.s1.base {
  width: 530px;
  margin-left: -265px;
}
.layout.transform-three .symbol.s2 {
  display: block;
  position: absolute;
  top: 25%;
  left: 75%;
}
.layout.transform-three .symbol.s2.base {
  display: none;
}
.layout.transform-three .symbol.s4 {
  display: block;
  position: absolute;
  left: 50%;
  top: 75%;
}
