.layout.transform-one-for-two .symbol.s0 {
  display: block;
  position: absolute;
  top: 29%;
  left: 29%;
}

.layout.transform-one-for-two .symbol.s1.convert-to {
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 47%;
  top: 47%;
}

.layout.transform-one-for-two .symbol.s2 {
  display: block;
  position: absolute;
  top: 58%;
  left: 74%;
}
.layout.transform-one-for-two .symbol.s2.base.border {
  margin-left: -160px;
  width: 320px;
  background: rgba(0, 0, 0, 0.5)
}
.layout.transform-one-for-two .symbol.s2.base {
  display: block;
  position: absolute;
  top: 66%;
  left: 66%;
  margin-left: -150px;
  width: 300px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #EEE;
}
.layout.transform-one-for-two .symbol.s3 {
  display: block;
  position: absolute;
  top: 74%;
  left: 58%;
}
.layout.transform-one-for-two .symbol.s3.base {
  display: none;
}
