.layout.transform-one-for-two .symbol.s0 {
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
}
.layout.transform-one-for-two .symbol.s1.convert-to {
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 50%;
  top: 48%;
  background-color: transparent;
}
.layout.transform-one-for-two .symbol.s2 {
  display: block;
  position: absolute;
  left: 50%;
  top: 75%;
}
.layout.transform-one-for-two .symbol.s2.base {
  margin-left: -190px;
  width: 380px;
}
.layout.transform-one-for-two .symbol.s2.icon {
  left: 37%;
}
.layout.transform-one-for-two .symbol.s3 {
  display: block;
  position: absolute;
  left: 63%;
  top: 75%;
}
.layout.transform-one-for-two .symbol.s3.base {
  display: none;
}
