.layout.transform-one .symbol.s0 {
  display: block;
  position: absolute;
  top: 31%;
  left: 31%;
}
.layout.transform-one .symbol.convert-to {
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 48%;
  top: 48%;
}
.layout.transform-one .symbol.s2 {
  display: block;
  position: absolute;
  top: 69%;
  left: 69%;
}
.layout.transform-one .symbol.s2.base {
  background: url('/data/assets/symbol-texture.png');
}
.layout.transform-one .symbol.s2.border {
  background: rgba(0, 0, 0, 0.5);
}
