.layout.activate-one .symbol.s0 {
  display: block;
  position: absolute;
  top: 25%;
  left: 50%;
}
.layout.activate-one .symbol.convert-to.base {
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 50%;
  top: 47%;
}
.layout.activate-one .symbol.s2 {
  display: block;
  position: absolute;
  top: 75%;
  left: 50%;
}
.layout.activate-one .symbol.s2.base {
  background: url('/data/assets/symbol-output-texture.png');
}
.layout.activate-one .symbol.s2.border {
  background: rgba(0, 0, 0, 0.5);
}
