.layout.transform-two-for-two .symbol.s0 {
  display: block;
  position: absolute;
  top: 42%;
  left: 26%;
}
.layout.transform-two-for-two .symbol.s0.base.border {
  margin-left: -160px;
  width: 320px;
}
.layout.transform-two-for-two .symbol.s0.base {
  display: block;
  position: absolute;
  top: 34%;
  left: 34%;
  margin-left: -150px;
  width: 300px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.layout.transform-two-for-two .symbol.s1 {
  display: block;
  position: absolute;
  top: 26%;
  left: 42%;
}
.layout.transform-two-for-two .symbol.s1.base {
  display: none;
}

.layout.transform-two-for-two .symbol.s2.convert-to {
  display: block;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 47%;
  top: 47%;
}

.layout.transform-two-for-two .symbol.s3 {
  display: block;
  position: absolute;
  top: 58%;
  left: 74%;
}
.layout.transform-two-for-two .symbol.s3.base.border {
  margin-left: -160px;
  width: 320px;
  background: rgba(0, 0, 0, 0.5)
}
.layout.transform-two-for-two .symbol.s3.base {
  display: block;
  position: absolute;
  top: 66%;
  left: 66%;
  margin-left: -150px;
  width: 300px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: url('/data/assets/symbol-texture.png');
}
.layout.transform-two-for-two .symbol.s4 {
  display: block;
  position: absolute;
  top: 74%;
  left: 58%;
}
.layout.transform-two-for-two .symbol.s4.base {
  display: none;
}
