<html>

<head>
  <title>{{title}}</title>
  <style>
  div.tile.asset {
    display: block;
    position: relative;
    margin: 10px;
    width: 672px;
    height: 672px;
  }
  div.tile.asset img {
    width: 100%;
    height: 100%;
    display: none;
  }
  div.safe-zone {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid red;
    border-radius: 36px;
    margin: 36px;
    right: 0;
    bottom: 0;
  }
  </style>
</head>

<body>
  <h1>{{title}}</h1>
  <div class="assets {{type}}">
  {{#each assets}}
  <div class="tile asset" style="background-image: url('./images/tiles/printable-{{this.assetId}}.png');">
    <img src="./images/tiles/{{this.assetId}}.png" alt="{{this.title}}" />
    <div class="safe-zone"></div>
  </div>
  {{/each}}
</div>
</body>

</html>
