<html>

<head>
    <title>{{tile.title}}</title>

    <link rel="stylesheet" href="/templates/css/reset.css">
    <link rel="stylesheet" href="/templates/css/tiles.css">
    <link rel="stylesheet" href="/templates/css/themes.css">

    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<body class="theme">
    <div class="layers">
      <div class="layer" style="background-image: url('{{sourceAsset}}'); background-size: contain; border-radius: 20px; width: 320px; height: 320px;"></div>
    </div>
</body>

</html>
