<html>

<head>
    <title>{{tile.title}}</title>

    <link rel="stylesheet" href="/templates/css/reset.css">
    <link rel="stylesheet" href="/templates/css/tiles.css">
    <link rel="stylesheet" href="/templates/css/themes.css">
    <link rel="stylesheet" href="/templates/css/tiles-{{tile.symbolLayout}}.css">

    <link href="https://fonts.googleapis.com/css?family=Vollkorn" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
</head>

<body class="theme {{tile.theme.type}}">
    <div class="layers">
      <div class="layer" style="background-image: url('/data/assets/backgrounds/{{tile.theme.background}}.png');"></div>
    </div>
    <div class="layout {{tile.symbolLayout}}">
    {{#each tile.symbols}}
      <div class="symbol s{{@index}} base border {{this}}"></div>
    {{/each}}
    {{#each tile.symbols}}
      <div class="symbol s{{@index}} base {{this}}"></div>
    {{/each}}
    {{#each tile.symbols}}
      <div class="symbol s{{@index}} icon {{this}}" style="background-image: url('/data/assets/{{this}}.png')"></div>
    {{/each}}
    </div>
    <div class="tile title">{{tile.title}}</div>
    {{#if tile.code}}<div class="tile code">{{tile.code}}</div>{{/if}}
</body>

</html>
